/* Anything marked 'Dustin' was put in with suggestions or help. Take note of it and go back to the student portal so that you may undertand the reason they were used and why they work. */

body {
    width: 98vw;
    height: 98vh;
    background-color:#019999;
    /* border-color: rgb(1, 9, 58); */
  }

#hangman-logo {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}

#hangman-logo img {
    height: 25vh; /* Dustin */
}

#new-game-button {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 100px;
}
#new-game-button button {
    border: 2px solid #000000;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    padding: 0.5em 1em;
    background-color: #f1c860;
    font-weight: 500;
}

/* #new-game-button button {
    background-color: #e7ac16;
    padding: 0.6em 1.2em;
    text-align: center;
    font-size: 12px;
} */

/* Dustin */
#win {
    visibility: hidden;
    height: 0px;
}

#win {
    visibility: hidden;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}

#win h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #f1c860;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    /* position: absolute;
    font-size: 10px; */
    letter-spacing: 5px;
    font-size: 60px;
}

/* Dustin */
#lose {
    visibility: hidden;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    /* background-color: white; */
    /* position: relative; */
}
#lose h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #f1c860;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    /* position: absolute;
    font-size: 10px; */
    letter-spacing: 5px;
    font-size: 60px;
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%; /* Dustin */
    height: 50%; /* Dustin */
    visibility: visible; /* Dustin */
    margin-top: 12px;
}

#hangman-div {
    display: flex;
    align-items: flex-start;
    background-color: white;
    border: 3px solid #000000;
    /* width: 50%; */
}

/* Dustin */
#platform {
    visibility: visible;
    height: 30vh;
}

/* Dustin */
#head {
    visibility: hidden;
    height: 0px;
}

/* Dustin */
#torso {
    visibility: hidden;
    height: 0px;
}

/* Dustin */
#left-leg {
    visibility: hidden;
    height: 0px;
}

/* Dustin */
#right-leg {
    visibility: hidden;
    height: 0px;
}

/* Dustin */
#left-arm {
    visibility: hidden;
    height: 0px;
}

/* Dustin */
#right-arm {
    visibility: hidden;
    height: 0px;
}

#keyboard {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: space-between;
    height: 15vh;
    width: 20vh;
    margin: 16px 0px;
    gap: 0.6em;
}

.top-keyboard-row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0.6em;
}

.middle-keyboard-row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0.6em;
}

.bottom-keyboard-row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0.6em;
}

#keyboard button {
    background-color: #f6d621;
    /* border: thick; */
    /* border-style: groove; */
    border-color: black;
    border-radius: 0.5em;
    color: black;
    padding: 10px 25px;
    /* margin: 6px 6px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
}

#keyboard button:disabled {
    background-color: rgb(192, 187, 187);
}

#visible-word {
    text-transform: uppercase;
    color: black;
    letter-spacing: 15px;
    display: flex;
    letter-spacing: 5px;
    font-size: 30px;
    margin-top: 20px;
} 

.hide {
    display: none;
  }